html{
background-color:#326;

    }
.DCORhim_login_fieldset{
background-color:#110044;
 color:white;    
position:fixed; top:30%; left:25%;width:50%;border-radius:25%;border:2px solid #669999;
}
.initiallyFaint, form input, form textarea{
color:#acccaa;
font-weight:bold;
               }
*{outline:none;}
a,.label{
text-decoration:none;
font-weight:bold;
color:#669;
}
a:hover{
border:2px solid white;
border-radius:5px;
color:#110044;
background-color:#669;
}


#DCORhim_login_loginButton, input[type="submit"]{
border:2px solid #666699;
 background-color:#110044; 
color:white;border-radius:6px;
font-weight:bold; }

#DCORhim_login_loginButton:hover, input[type="submit"]:hover{
background-color:#669;
border:2px solid white;
}
form input[type="text"], form textarea,input[type="email"],input[type="password"]{
border:2px solid #666699;
border-radius:5px;
margin-bottom:3px;
         }
.DCORhim_login{
	width:40%;
}
@media print {
* {-webkit-print-color-adjust: exact;}
}

