body{

	width:100%;

	height:100%;margin:0;
}
	#ovAll{
	background-color:#326;

	padding: 1% 5% 5% 5%;
color:white; font-weight:bold;

overflow-wrap: break-word;

    word-break: break-word;

    -ms-word-break: break-word;

	}

	h3{ color:white;}

	body > *{color:white; }

input,select,textarea{display:block;

margin-top:2%; outline:none; }



textarea{color:#669999;}
input[type="button"]{
background-color:#110044;
color:#fff;
font-weight:bold;
border:1px solid #806;
outline:none;
}
input[type="submit"],button{

background-color:#110044;
/*#33cc99;*/ font-weight:bold;

/*width:70px;

height:50px;
*/
border-radius:15px;

border:1px solid #806;

color:white;
margin-top:4px;
outline:none;
}

input[type="submit"]:hover, button:hover{background-color:#33dbcc; }
@media print {
body {-webkit-print-color-adjust: exact;}
}

